/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  grid-template-rows: auto auto auto; /* 3 rows */
  height: 100vh;
  background: #1f1f1f;
}

.grid-container > div {
  background: inherit;
}

/* Sections */
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}

/* Profile */
.profile {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Qualifications */
.qualifications {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
}

.title p {
  font-family: "Arial Narrow";
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.description {
  margin-top: 0;
}

.description p {
  font-family: "Arial Narrow";
  font-size: 22px;
  color: white;
}
